<?xml version="1.0" encoding="UTF-8"?>
<VmInfo dyn_lists="" schemaVersion="1.0">
   <GuestOsInformation dyn_lists="GuestToolsList 1">
      <Started>0</Started>
      <ConfOsType></ConfOsType>
      <ConfOsVersion></ConfOsVersion>
      <RealOsType></RealOsType>
      <RealOsVersion></RealOsVersion>
      <OsKernelVersion></OsKernelVersion>
      <RealOsDetails></RealOsDetails>
      <RealOsTypeId>255</RealOsTypeId>
      <GuestToolsList dyn_lists="GuestToolInfo 0" id="0"/>
      <DeviceId></DeviceId>
      <DeviceName></DeviceName>
      <SerialNumber></SerialNumber>
      <DisplayVersion></DisplayVersion>
      <BitLockerStatus></BitLockerStatus>
      <UefiPlatformKeySha256></UefiPlatformKeySha256>
   </GuestOsInformation>
   <AdvancedEngineInfo dyn_lists="">
      <EngineTypeStr>AppleHV</EngineTypeStr>
      <EngineTypeNum>4</EngineTypeNum>
   </AdvancedEngineInfo>
</VmInfo>
